.battle-page {
  background-color: #0a0a0a;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.battle-page h1 {
  font-size: 32px;
  margin-bottom: 12px;
}

.battle-page p {
  font-size: 18px;
}

.battleContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.outputRow {
  display: flex;
  gap: 16px;
  height: 40%;
  margin-bottom: 16px;
}

.outputBox {
  flex: 1;
  background: #222;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.outputBox h3 {
  margin: 0 0 4px 0;
  font-size: 14px;
  color: #999;
}

.codePreview {
  flex: 1;
  width: 100%;
  border: none;
  background: white;
}


.matchTimer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #111;
  padding: 10px 14px;
  border-radius: 8px;
  color: #3cff99;
  font-weight: bold;
  font-family: monospace;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  z-index: 2;
}


.rageQuitButton{
  background: rgba(255, 0, 0, 0.2);
  color: white;
  border: 1px solid rgba(255, 0, 0, 0.3);
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 0.95rem;
  cursor: pointer;
  margin-top: 0.5rem;
  transition: background 0.2s;
  z-index: 2;
  width: 130px;
}

.rageQuitButton:hover {
  background: rgba(255, 0, 0, 0.3);
}

.checkingStatus {
  margin-top: 16px;
  color: #ccc;
  font-style: italic;
  text-align: center;
}


.rageQuitPopup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: #222;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  z-index: 1000;
}

.rageQuitPopup button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #44ff99;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
