.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #111;
  color: white;
  border-radius: 12px;
  overflow: hidden;
}

.chat-header {
  padding: 1rem;
  font-size: 1.5rem;
  background: #222;
  border-bottom: 1px solid #333;
  text-align: center;
}


.chat-tabs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.chat-tabs button {
  background: #222;
  color: #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.chat-tabs .active-tab {
  background: #64f4ac;
  color: black;
}




.chat-feed {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}

.chat-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.chat-avatar {
  width: 32px;
  height: 32px;
  border-radius: 999px;
  object-fit: cover;
}


.chat-username {
  font-weight: bold;
  color: #64f4ac;
}

.chat-input-row {
  display: flex;
  gap: 0.5rem;
  border-top: 1px solid #333;
  padding: 0.5rem;
  background: #1a1a1a;
  align-items: flex-end;
}



.chat-textarea {
  flex: 1;
  resize: none;
  padding: 0.5rem;
  border: none;
  background: #333;
  color: white;
  border-radius: 6px;
  font-size: 1rem;
  line-height: 1.4;
  max-height: 120px;  /* max expansion height */
  overflow-y: auto;
  white-space: pre-wrap;
  word-break: break-word;
}


.chat-input-row button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background: #64f4ac;
  color: #000;
  border: none;
  border-radius: 4px;
}
