.dashboard {
  display: flex;
  height: 100vh;
  background-color: #0e0e10;
  color: #e0e0e0;
  font-family: 'Segoe UI', sans-serif;
}


.sidebar {
  width: 250px;
  background-color: #1b1b1f;
  padding: 2rem;
  border-right: 1px solid #222;
}

.sidebar h2 {
  color: #91f42f;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.sidebar li {
  margin-bottom: 1rem;
  cursor: pointer;
}

.mainScreen {
  flex-grow: 1;
  padding: 2rem;
}

.tasks {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.task-card {
  background: #1b1b1f;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #2a2a2e;
}
