:root {
  --bg: #0e0e10;
  --panel: #1b1b1f;
  --accent: #91f42f;
  --text: #e0e0e0;
  --muted: #888;
}


.App{
    padding-top: 60px;
    display: flex;
    height: 100vh;
    background-color: var(--bg);
    color: var(--text);
    font-family: sans-serif;
}

.pages{
    padding-left: 250px;
    width: 100%;
    height: 100%;
}